package $PACKAGE$;

import com.axway.ats.common.PublicAtsApi;
import com.axway.ats.agent.webapp.client.ActionClient;
import com.axway.ats.agent.core.exceptions.AgentException;

$RETURN_CLASS_IMPORTS$

$MEMBER_CLASS_IMPORT$

@PublicAtsApi
public class $CLASS_NAME$ extends ActionClient {

    private static final String COMPONENT_NAME = "$COMPONENT_NAME$";
    public  static final String INITIALIZE_REQUEST_URL = "$INITIALIZE_REQUEST_URL$";
    
$MEMBER_CLASS_DECLARATION$
    
$PUBLIC_CONSTANTS$

    @PublicAtsApi
    public $CLASS_NAME$() {

        super( ActionClient.LOCAL_JVM, COMPONENT_NAME );
        
$MEMBER_CLASS_NO_ARG_INIT$
    }

    @PublicAtsApi
    public $CLASS_NAME$( String host ) throws AgentException {

        super( host, COMPONENT_NAME, INITIALIZE_REQUEST_URL );
        
$MEMBER_CLASS_ONE_ARG_INIT$
    }
$METHOD_DEFINITIONS$
}
