    $DEPRECATED$
    @PublicAtsApi
    public $RETURN_TYPE$ $METHOD_NAME$( $PARAMETERS$ ) throws AgentException {

        $EXEC_RETURN_DEFINITION$$EXECUTE_ACTION$( "$ACTION_NAME$", new Object[]{ $ARGUMENTS$ } $META_KEYS$ $META_VALUES$ )$EXEC_RETURN_DEFINITION_END$;
    }
