*.java text diff=java eol=crlf
*.properties text eol=crlf
*.xml text eol=crlf
*.xsd -text
*.bat text eol=crlf
*.sh text eol=lf
*.txt text eol=crlf
.template -text
*.version text eol=crlf
.classpath -text
.project -text
